/*
Theme Name: Titanio Records
Theme URI: titaniorecords.com
Description: Tema para Titanio Records
Author: Pulque Digital
Author URI: http://twitter.com/milioh
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License: titaniorecords.com
License URI: titaniorecords.com

Lead Project: @milioh
Design: @layout
UX & HTML Building: @milioh
Development & Functions: @milioh
*/

/* Fonts */
.roboto { font-family: roboto, sans-serif; }
.helvetica { font-family: helvetica, sans-serif; }
 
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font15 { font-size: 15px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
.font30 { font-size: 30px !important; }
.font34 { font-size: 34px !important; }
.font42 { font-size: 42px !important; }
.font48 { font-size: 48px !important; }
.font100 { font-size: 100px !important; }

/* COLORS */
.transparent { background-color: transparent !important; }
.gris { color: #585959; }
.noticias_bg { background-color: #E8E8E8; }

/* GENERAL */
html, body { width: 100%; height: 100%; background-color: #FFF; color: #000; }
.centered { margin: 0 auto; text-align: center; }
.left { margin: 0 auto; text-align: left; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space3 { margin-top: 3px; display: block; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space30 { margin-top: 30px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space160 { margin-top: 160px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-top: -20px; }
.clear { clear: both !important; }
.text-justify { text-align: justify; }
.grayscale { 
	filter: grayscale(100%) !important;
	filter: url(grayscale.svg)!important; /* Firefox 4+ */
	filter: gray !important; /* IE 6-9 */
	-webkit-filter: grayscale(100%) !important;
	-moz-filter: grayscale(100%) !important;
	-ms-filter: grayscale(100%) !important;
	-o-filter: grayscale(100%) !important;
}
.grayscale:hover {
	filter: inherit !important;
	filter: inherit !important; /* Firefox 4+ */
	filter: inherit !important; /* IE 6-9 */
	-webkit-filter: inherit !important;
	-moz-filter: inherit !important;
	-ms-filter: inherit !important;
	-o-filter: inherit !important;
}
.responsive-img-full-w-h {
	width: 100%;
	height: 100%;
}

/*HTML Ancho Maximo 1400px-Background Negro y sin Margen Top*/
html {
    max-width: 1400px !important;
    margin: 0 auto !important;
    background-color: #4f4e53 !important;
    margin-top: 0px !important;
}

/* BUTTONS */
.bt-bk { background: transparent url('../img/btn-back.png') center center no-repeat; width: 76px; height: 76px; display: inline-block; }
.bt-fr { background: transparent url('../img/btn-forward.png') center center no-repeat; width: 76px; height: 76px; display: inline-block; }
.bt-bk:hover { background: transparent url('../img/btn-back.png'); }
.bt-fr:hover { background: transparent url('../img/btn-forward.png'); }

/*Navbar*/
.nav-wrapper {
    z-index: 999;
}
input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom:1px solid grey;
    -webkit-box-shadow:0 1px 0 0 grey;
    box-shadow:0 1px 0 0 grey;
}
nav .input-field {
	height: 64px;
}
.side-nav {
	width: 300px;
	top: 58px;
}
.brand-logo {
    margin-top: .5%;
    margin-left: 9%;
}
.brand-logo img{
	/*height: 50px;*/
	width: 62.5px;
}
.navegacion:active, .navegacion:hover {
	border-bottom: 5px solid;
	height: 64px;
}
.navegacion-side:active, .navegacion-side:hover {
	border-bottom: 5px solid;
}
.nav-search { display: none; }

/*Slider Home*/
.slider { height: 840px !important; }
.slider .slides, .slider .slides li img { height: 800px !important; }
.slider .indicators .indicator-item.active {
	background-color: #FFF;
}
.slider .slides li .caption {
	top: initial;
    bottom: 10%;
    left: 8%;
    width: 50%;
}
.slider .indicators {
    text-align: initial;
    left: 7%;
    bottom: 11%;
    z-index: 2;
    width: 80%;
}
.play-pos.centered {
    left: 0;
    right: 0;
    position: relative;
    top: 33%;
}
.btn-back {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: -3.8%;
}
.btn-play {
    position: inherit;
    z-index: 3;
    top: 33%;
}
.btn-forward {
    position: absolute;
    z-index: 3;
    top: 45%;
    right: -3.8%;
}
.z-depth-5-shadow-back {
    -webkit-box-shadow: 0 0 24px 2px rgba(0, 0, 0, .14), 0 0 30px 5px rgba(0, 0, 0, .12), 0 0 10px -5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .14), 0 0 30px 5px rgba(0, 0, 0, .12), 0 0 10px -5px rgba(0, 0, 0, .3);
}
.z-depth-5-shadow-forward {
    -webkit-box-shadow: 5px 0 24px 2px rgba(0, 0, 0, .14), 5px 0 30px 5px rgba(0, 0, 0, .12), 3px 0 0 -5px rgba(0, 0, 0, .3);
    box-shadow: 5px 0 24px 2px rgba(0, 0, 0, .14), 5px 0 30px 5px rgba(0, 0, 0, .12), 3px 0 0px -5px rgba(0, 0, 0, .3);
}

/*Servicios Home*/
.contenedor-imagen-servicios {
    height: 320px;
}
.text-servicio {
    height: 37px;
    overflow: hidden;
    padding: 0 10px 0 0;
}
.boton-cotizar {
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 65px;
}
.boton-cotizar:hover {
    background-color: #000;
    color: #fff;
}

/*Ultimos Videos Home*/
.contenedor-video-big-home {
    border: 1px solid;
    height: 455px;
}
.contenedor-video-small-home-1 {
    border: 1px solid;
    height: 210px;
}
.contenedor-video-small-home-2 {
    border: 1px solid;
    height: 210px;
    margin-top: 35px;
}

/*Reproductor Spotify Home*/
.spoti-pos-columna {
	padding: 40px 0;
}
.contenedor-titulo-seccion, .contenedor-reproductor, .contenedor-banner {
	height: 600px;
}
.img-banner300x600 {
    max-width: 300px;
    width: 100%;
    height: 100%;
    /*background-color: grey;*/
    /*float: right;*/
    margin: 0 auto;
}

/*Footer*/
.contenedor-media-footer {
    height: 50px;
    position: absolute;
    right: 0;
}
.btn-facebook {
    height: 16px;
    margin: 8px 20px 0 40px;
}
.btn-instagram {
	height: 16px;
    margin: 8px 20px 0 20px;
}
.btn-youtube {
	height: 16px;
    margin: 8px 20px 0 20px;
}
.btn-spotify {
	height: 16px;
    margin: 8px 20px 0 20px;
}
.text-rights {
	height: 50px;
}

.newsletter-icon { padding: 2px 20px; display: inline-block; height: 19px; vertical-align: top; }

/*Pagina Servicios*/

/*Noticias y Catalogo*/
.card-image {
    height: 245px;
}
.titulo-ficha {
    height: 32px;
    overflow: hidden ;
}
.contenido-ficha {
    height: 27px;
    overflow: hidden ;
}

/*Noticias Single*/
.contenedor-img-single {
	height: 800px;
}
.btn-facebook-sinlge {
    background-color: #304C96;
    padding: 15px 50px;
    border-radius: 50px;
}

/*Contacto*/
.contenedor-contacto img {
    max-height: 800px;
}
.contenedor-logo-contacto {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.contenedor-contacto-mapa {
    border: 1px solid;
}
.contenedor-contacto-mapa iframe {
    height: 800px;
}
.btn-enviar-formulario {
    padding: 10px 65px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}
.edicion-input-form {
    padding: 15px 0 15px 20px;
    width: 100%;
    border: 1px solid grey;
    background-color: transparent ;
}
.edicion-textarea-form {
    border: 1px solid grey !important;
    width: 100% !important;
    text-indent: 20px !important;
    margin: 0px !important;
    min-height: 130px !important;
    overflow: scroll !important;
    max-height: 130px !important;
}
[type="checkbox"].filled-in:checked + label::after {
    border:2px solid #4f4e53;
    background-color:#4f4e53;
}

/*Titanium TV*/
.contenedor-suscribirse-mobile a{
    padding: 10px 40px;
    line-height: 40px;
    border:1px solid grey;
    border-radius: 50px;
}
.contenedor-video-principal, .contenedor-banner-evento {
	height: auto;
}
.contenedor-suscribirse a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid grey;
    border-radius: 50px;
    margin: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.contenedor-btn-face-tv a{
    background-color: #304C96;
    padding: 10px 40px;
    border-radius: 50px;
}
.edit-titulo-tv {
	/*height: 52px;
	overflow: scroll;*/
}
.edit-parrafo-tv {
	/*height: 72px;
	overflow: scroll;*/
}
.titulo-mas-videos {
	/*height: 34px;
	overflow: scroll;*/
}
.contenedor-mas-videos {
    /*height: 215px;*/
}
.banner_titanio .banner_content { }

/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	.font48 {
		font-size: 38px !important;
	}
	.hamburger-pos {
	    margin-right: 9% !important;
	}
	.slider .slides li .caption {
		width: 80%;
	}
	.card-image {
	    height: 200px;
	}
	.tablet-font24 {
		font-size: 24px !important;
	}
	.contenedor-titulo-seccion, .contenedor-reproductor, .contenedor-banner {
	    height: auto !important;
	    display: block;
	    margin: 0 auto;
    }
    .slider { height: 740px !important; }
    .slider .slides, .slider .slides li img { height: 700px !important; }
    .contenedor-img-single {
		height: 700px;
	}
	.contenedor-contacto img {
    	max-height: 700px;
	}
	.mobile-text-center { 
		text-align: center;
	}
	.contenedor-media-footer, .text-rights {
        height: auto;
        position: initial;
        display: block;
    }
    .contenedor-media-img {
	    display: block;
	}
	
	.newsletter-icon { padding: 0px; margin: 8px 16px; }
}

@media only screen  and (max-width : 800px) {
	.contenedor-suscribirse a{
    	font-size: 14px !important;
	}
	.contenedor-btn-face-tv a{
	    padding: 10px 20px;
	}
}

@media only screen  and (max-width : 700px) {
	
}
/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
	.brand-logo {
		margin-top: 1.8%;
		margin-left: 18px;
	}
	.hamburger-pos {
	    margin-right: 18px !important;
	}
	.font30 { 
		font-size: 16px !important;
	}
	.brand-logo img{
		/*height: 40px;*/
		width: 45px;
	}
	.slider .slides li .caption {
        left: 5%;
        width: 90%;
        text-align: center;
    }
    .slider .indicators {
        text-align: center;
        left: 0;
        right: 0;
        width: 100%;
    }
    .mobile-text-center { 
		text-align: center;
	}
	.slider {
	    height: 330px !important;
	}
	.slides {
	    height: 300px !important;
	}
	.mobile-padding-0 {
		padding: 0 !important;
	}
	.mobil-margin-bottom-0 {
		margin-bottom: 0px; 
	}
	.mobile-btn-play {
		height: 55px;
	}
	.contenedor-imagen-servicios {
	    /* height: 200px; */
	    height: auto !important;
	}
	.text-servicio {
	    height: auto;
	    padding: 0 5px;
    }
    .contenedor-video-big-home {
	    height: 190px;
	}
    .spoti-pos-columna {
    	padding: 20px 0;
	}
    .img-banner300x600.img-banner300x250 {
    	float: none;
    	margin: 20px auto;
	}
	.text-rights {
		height: auto !important;
		display: block;
	}
    .contenedor-media-footer {
        height: auto;
        position: initial;
        display: block;
    }
    .contenedor-media-img {
	    display: block;
	}
	.btn-facebook {
	    height: 20px;
	    margin: 8px 20px 0 0;
	}
	.btn-instagram {
		height: 20px;
	}
	.btn-youtube {
		height: 20px;
	}
	.btn-spotify {
		height: 20px;
	    margin: 8px 0 0 20px;
	}
	.text-rights {
		height: 50px;
	}
	.card-image {
	    height: auto;
	}
	.mobile-text-justify {
		text-align: justify;
	}
	.contenedor-img-single {
		height: 400px;
	}
	.btn-facebook-sinlge {
	    padding: 10px 80px;
	}
	.font34 {
		font-size: 24px !important;
	}
	.contenedor-contacto img {
    	max-height: 400px;
	}
	.contenedor-logo-contacto {
	    height: 100px;
	    width: 125px;
	}
	.contenedor-contacto-mapa iframe {
	    height: 210px;
	}
	.contenedor-video-principal {
		height: 200px;
	}
	/*.contenedor-banner-evento {
		height: 370px;
	}*/
	.mobile-padding-10 {
		padding: 0 10px;
	}
	.edit-titulo-tv {
		height: auto;
		overflow: visible;
	}
	.edit-parrafo-tv {
		height: auto;
		overflow: visible;
	}
	.contenedor-btn-face-tv a{
	    padding: 10px 40px;
	}
	.titulo-mas-videos {
		height: auto;
		overflow: visible;
	}
	.contenedor-mas-videos {
	    height: 200px;
	}
	.slider { height: 440px !important; }
	.slider .slides, .slider .slides li img { height: 400px !important; }
	
	.newsletter-icon { padding: 0px; margin: 10px 40px; }
}

/* MAPA */
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
